body {
    background-color: rgb(245, 239, 239);
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #779FA1;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    margin-left: 15px;
    margin-top: 3px;
    font-size: 50px;
    
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    
}

li {
    margin-top: 10px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/*BODY*/
.flex-container {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.flex-item {
    border: 2px solid tomato;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    padding: 10px;
    margin: 15px 10px 15px 10px;
    
    
}

img {
    width: 200px;
    border-radius: 100%;
}

footer {
    text-align: center;
    justify-content: center;
    background-color: #779FA1;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 1%;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    
}


/*RESPONSIVIDADE*/
@media (max-width: 700px) 
{
    h1 {
        display: none;
    }

    ul {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-left: 40%;
        border-radius: 10px;
        color: rgb(124, 122, 121);
        text-decoration: none;
    }

    header {
        height: 50%;
    }
}

header:hover {
    cursor: pointer;
}

h1:hover {
    font-size: 52px;
    align-items: flex-start; 
    color: tomato;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    margin-top: 2px;

    
}

a:hover {
    color: tomato;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.flex-item:hover {
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: tomato;
    color: white;
    font-weight: bold;
    
} 
